.app {
    width: 100%;
    display: flex;
}

// MENU MENU MENU
.menu {
    order: 1;
    height: 100vh;
    background-color: $blue-100;
    min-width: 18rem;
    width: 18rem;
    // layout
    display: grid;
    grid-template-areas: "header" "body" "footer";
    grid-template-rows: 4.25rem 0fr 4.00rem;
    min-height: 100vh;
    overflow-y: scroll;
    position: fixed;
    .header {
        position: sticky;
        top: 0;
        z-index: 1;
        text-align: center;
        line-height: 1.5;
        padding: 1rem;
        color: $blue-5;
        font-size: 1.5rem;
        background-color: $teal-100;
        display: flex;
        .user-name {
            margin-right: 7.5rem;
        }
    }
    .body {
        grid-area: body;
        li {
            height: 5rem;
            border-bottom: .1rem solid $blue-60;
            display: flex;
            justify-content: left;
            align-items: center;
            padding-left: 1.5rem;
            color: $blue-20;
            display: flex;
            justify-content: space-between;
            button {
                margin-right: 0.5rem;
            }
            i {
                color: $blue-40;
            }
        }
        .active-item {
            background-color: $red-80;
        }
    }
    .footer {
        bottom: 0px;
        left: 0px;
        right: 0px;
        background-color: $teal-100;
        grid-area: footer;
        position: sticky;
        display: flex;
        justify-content: left;
        padding: 1.75rem 0rem 0rem 1rem;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .input-totem {
            box-sizing: border-box;
            background-color: $teal-100;
            border-radius: .1rem;
            border: none;
            border-bottom: .1rem solid $blue-100;
            height: 1.5rem;
            width: 80%;
            font-size: 1rem;
        }
        .input-totem::-webkit-input-placeholder {
            color: $blue-100;
        }
        .input-nudge {
            color: $red-60;
            font-size: .7rem;
            position: absolute;
            top: 1.25rem;
        }
        .bt {
            background-color: transparent;
            border: none;
            padding: 0rem;
            margin-top: -0.4rem;
            margin-right: .5rem;
            i {
                font-size: 2.5rem;
            }
        }
    }
}

// GHOST MENU
.ghost-menu {
    // position
    order: 1;
    // size
    height: 100vh;
    min-width: 18rem;
    width: 18rem;
}

// TOTEM TOTEM TOTEM
.totem {
    // position
    order: 2;
    z-index: 10;
    // size
    flex: 1 0 auto;
    overflow-y: hidden;
    // display
    display: flex;
    flex-direction: column;
    .title {
        // position: fixed;
        margin: 1rem 1rem 1.5rem 0rem;
        order: 1;
        align-self: flex-end;
    }
    .stack {
        // position
        order: 2;
        align-self: center;
        // size
        height: 100%;
        // display
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        .block {
            // size
            height: 4rem;
            width: 12rem;
            // color
            background-color: $blue-20;
            border: .1rem solid $blue-100;
            // display
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}