/* BROWNS */

$brown-100: #5C4540;
$brown-80: #594441;
$brown-60: #9b8f8d;
$brown-40: #bdb4b3;
$brown-20: #dedad9;
$brown-5: #f6f5f5;

/* BLUES */

$blue-100: #5a9bc9;
$blue-80: #7aafd4;
$blue-60: #9bc3de;
$blue-40: #bdd7e9;
$blue-20: #deebf4;
$blue-5: #f7fafc;

/* TEALS */

$teal-100: #416384;
$teal-80: #66839c;
$teal-60: #8da1b5;
$teal-40: #b3c0ce;
$teal-20: #d9e0e6;
$teal-5: #f5f7f9;

/* YELLOWS */

$yellow-100: #f2ce73;
$yellow-80: #f5d88f;
$yellow-60: #f7e2ab;
$yellow-40: #faecc7;
$yellow-20: #fdf5e3;
$yellow-5: #fefcf8;

/* REDS */

$red-100: #e1555d;
$red-80: #e7777e;
$red-60: #ed999e;
$red-40: #f3bbbe;
$red-20: #f9dddf;
$red-5: #fdf7f7;