/* GLOBALS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Museo300-Regular';
  src: url("fonts/Museo300-Regular-webfont.woff2") format("woff2"), url("fonts/Museo300-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Museo500-Regular';
  src: url("fonts/Museo500-Regular-webfont.woff2") format("woff2"), url("fonts/Museo500-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Museo700-Regular';
  src: url("fonts/Museo700-Regular-webfont.woff2") format("woff2"), url("fonts/Museo700-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
/* BROWNS */
/* BLUES */
/* TEALS */
/* YELLOWS */
/* REDS */
/* these rules will eventually be moved somewhere else */
html {
  font-size: 24px;
  font-family: Museo300-Regular, Helvetica, sans-serif;
  overflow-x: hidden; }

::-webkit-scrollbar {
  display: none; }

.bt {
  background-color: transparent;
  border: none;
  padding: 0rem; }
  .bt i {
    color: #7aafd4;
    font-size: 1.5rem; }

/* MODULES */
.app {
  width: 100%;
  display: flex;
  flex-direction: row; }

.menu {
  height: 100vh;
  background-color: #5a9bc9;
  min-width: 18rem;
  width: 18rem;
  display: grid;
  grid-template-areas: "header" "body" "footer";
  grid-template-rows: 4.25rem 0fr 4.00rem;
  min-height: 100vh;
  overflow-y: scroll;
  position: fixed; }
  .menu .header {
    grid-area: header;
    position: sticky;
    top: 0;
    z-index: 1;
    text-align: center;
    line-height: 1.5;
    padding: 1rem;
    color: #f7fafc;
    font-size: 1.5rem;
    background-color: #416384;
    display: flex; }
    .menu .header .user-name {
      margin-right: 7.5rem; }
  .menu .body {
    grid-area: body; }
    .menu .body li {
      height: 5rem;
      border-bottom: 0.1rem solid #9bc3de;
      display: flex;
      justify-content: left;
      align-items: center;
      padding-left: 1.5rem;
      color: #deebf4;
      display: flex;
      justify-content: space-between; }
      .menu .body li button {
        margin-right: 0.5rem; }
      .menu .body li i {
        color: #bdd7e9; }
    .menu .body .active-item {
      background-color: #e7777e; }
  .menu .footer {
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #416384;
    grid-area: footer;
    position: sticky;
    display: flex;
    justify-content: left;
    padding: 1.75rem 0rem 0rem 1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .menu .footer .input-totem {
      box-sizing: border-box;
      background-color: #416384;
      border-radius: .1rem;
      border: none;
      border-bottom: 0.1rem solid #5a9bc9;
      height: 1.5rem;
      width: 80%;
      font-size: 1rem; }
    .menu .footer .input-totem::-webkit-input-placeholder {
      color: #5a9bc9; }
    .menu .footer .input-nudge {
      color: #ed999e;
      font-size: .7rem;
      position: absolute;
      top: 1.25rem; }
    .menu .footer .bt {
      background-color: transparent;
      border: none;
      padding: 0rem;
      margin-top: -0.4rem;
      margin-right: .5rem; }
      .menu .footer .bt i {
        font-size: 2.5rem; }

.totem {
  z-index: 10;
  overflow-y: hidden;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center; }
  .totem .title {
    position: fixed; }

/*# sourceMappingURL=index.css.map */
