.menu {
    width: 456px;
    height: 100%;
    background-color: $blue-100;
    display: flex;
    flex-direction: column;
    .menu-list-header {
        color: $blue-5;
        margin: 0px 0px 12px 0px;
        height: 120px;
        width: 100%;
        font-size: 1.5rem;
        background-color: $teal-100;
        display: flex;
        align-items: center;
    }
    .menu-list {
        li {
            height: 90px;
        }
    }
}